@charset "utf-8";

:root {
  --background-color-one: rgb(16, 20, 32);
  --background-color-two: rgba(235, 237, 243, 0.668);
  --input-background-color: rgb(255 255 255 / 0.05);
  --font-color-one: rgb(240, 235, 235);
  --font-color-two: rgb(16, 20, 32);
  --action-button-color: rgb(60, 87, 255);
}

.container {
    width: 500px;
    height: 200px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color-two);
    border-radius: 5px;
}

.flex {
    display: flex;
} 

.space-between {
    justify-content: space-between;
}

.center {
    justify-content: center;
}

body {
    background-color: var(--background-color-one);
    color: var(--font-color-one);
}

h2, h3, p {
    text-align: center;
    margin: 5px;
}

input {
    display: block;
    margin: 0 auto;
    width: 300px; /* Adjust width as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}