@charset "utf-8";

@font-face {
    font-family: 'Snowballs Header';
    src: url('../fonts/snowballs/Snowballs.otf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Snowballs Custom';
    src: url('../fonts/snowballs/Snowballs.ttf') format('truetype');
    font-weight: normal;
}

:root {
  --background-color-one: rgb(16, 20, 32);
  --background-color-two: rgb(235, 237, 243);
  --input-background-color: rgb(255 255 255 / 0.05);
  --font-color-one: rgb(240, 235, 235);
  --font-color-two: rgb(16, 20, 32);
  --action-button-color: rgb(60, 87, 255);
}

.container {
    width: 500px;
    height: 300px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color-two);
    border-radius: 5px;
}

.flex {
    display: flex;
} 

.space-between {
    justify-content: space-between;
}

.center {
    justify-content: center;
}

body {
    background-image: url("../media/background.gif");
    background-repeat: repeat;
  }

h1, h2, h3, p {
    text-align: center;
    margin: 5px;
}

.title {
    position: relative;
    font-family: 'Snowballs Header', sans-serif;
    letter-spacing: 5px;
    margin: 100px auto;
    color: #fff;
    box-shadow: -2px -5px 15px #000000 20%;
}

.play-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.time-left {
    font-family: 'Snowballs Custom', sans-serif;
    font-size: 50px;
    margin: -10px 20px;

}

.score {
    font-family: 'Snowballs Custom', sans-serif;
    font-size: 50px;
    margin: -10px 20px;  
}

.output-word {
    font-family: 'Snowballs Header', sans-serif;
    letter-spacing: 5px;
    font-size: 50px;
    margin: 20px;  

}

input {
    display: block;
    margin: 0 auto;
    width: 300px; /* Adjust width as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

i {
    font-size: 25px;
    margin: 5px 0px;
    margin-left: 20px;
    color: var(--background-color-two);
    &:hover{
        cursor: pointer;
    }
}

.play-menu {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px; 
    color: #fff;
}
