@charset "utf-8";

@font-face {
    font-family: 'Snowballs Header';
    src: url('../fonts/snowballs/Snowballs.otf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Snowballs Custom';
    src: url('../fonts/snowballs/Snowballs.ttf') format('truetype');
    font-weight: normal;
}

:root {
  --background-color-one: rgb(16, 20, 32);
  --background-color-two: rgb(235, 237, 243);
  --input-background-color: rgb(255 255 255 / 0.05);
  --font-color-one: rgb(240, 235, 235);
  --font-color-two: rgb(16, 20, 32);
  --action-button-color: rgb(60, 87, 255);
}

.container {
    width: 500px;
    height: 300px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color-two);
    border-radius: 5px;
}

.flex {
    display: flex;
} 

.space-between {
    justify-content: space-between;
}

.center {
    justify-content: center;
}

.gap-50 {
    gap: 20px;
}

body {
    background-image: url("../media/background.gif");
    background-repeat: repeat;
  }

h1, h2, h3, p {
    text-align: center;
    margin: 5px;
}

.title {
    font-size: 40px;
    position: absolute;
    font-family: 'Snowballs Header', sans-serif;
    letter-spacing: 5px;
    color: #fff;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -2px -5px 15px #000000 20%;
}

.play-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.time-left {
    font-family: 'Snowballs Custom', sans-serif;
    font-size: 50px;
    margin: -10px 20px;

}

.score {
    font-family: 'Snowballs Custom', sans-serif;
    font-size: 50px;
    margin: -10px 20px;  
}

.output-word {
    font-family: 'Snowballs Header', sans-serif;
    letter-spacing: 5px;
    font-size: 50px;
    margin: 20px;  

}

input {
    display: none;
    margin: 0 auto;
    width: 300px; /* Adjust width as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.visible {
    display: block;
}

i {
    font-size: 40px;
    color: #fff;
    &:hover{
        cursor: pointer;
    }
}

#stop-button {
    &:hover{
        color: #ffbf00;
        text-shadow: 2px 2px 10px rgb(255, 255, 255);
    }
}

#start-button {
    &:hover{
        color:  #01875f;
        text-shadow: 2px 2px 10px rgb(255, 255, 255);
    }
}

.play-menu {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
